name: Publis
on:
  workflow_dispatch:
  workflow_run:
    workflows: [Release]
    types:
      - completed

jobs:
  build:
      strategy:
        matrix:
          package: ["@syllogi/server", "@syllogi/client", "@syllogi/model"]

      runs-on: ubuntu-latest
      if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
      steps:
        - name: checkout
          uses: actions/checkout@v3
          with:
            fetch-depth: 0

        - name: setup node
          uses: actions/setup-node@v3
          with:
            node-version: 18.6

        - name: setup yarn
          run: |
            yarn set version stable
            yarn install

        - name: build
          run: yarn workspace ${{ matrix.package }} build:docker
